@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Quarntype';
    src: url(media/Quarantype.otf);
}
html{
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden !important;
}
*{box-sizing: border-box;color: unset;text-decoration: none;}
nav{
    z-index: 99999;
    text-transform: uppercase;
    font-family: 'Quarntype';
    position: sticky;
    top: 0;
    width: 100%;
}
nav h1{
    text-align: center;
    background-color: rgb(14, 14, 14);
    padding: 0;margin: 0;
    color: #C9AE43;
    font-size: 25px;
    letter-spacing: 3px;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    overflow-x: hidden !important;
}
.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background-color: #0d0d0d;
    height: auto;
    overflow: hidden;
    flex-direction: row;
}
.FlexContainer div {
    width: 33%;
    height: 300px;
    margin: 0px;
    background-color: rgb(15, 16, 16);
    margin: -2px;
    overflow: hidden;
}
.linksHeader{
    text-align: center;
    color: #C9AE43;
    margin:10vh 0 3px 0;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px 0;
    background-color: #C9AE43;
    width: 92%;
    margin: 2% 4%;
    height: 80px;
    font-size: 18px;
    border-radius: 10px;
}
.link span{font-size: 12px;letter-spacing: 0;margin-top: 5px;}

.flow{
    margin-top: 20vh;
    text-align: center;
    color: #04b204;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: 'Quarntype';
}
.puzzle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.puzzle img{width: 200px;}
.gif{height: 150px !important;display: flex;align-items: center;justify-content: center; overflow: hidden;}
.kolaj1{height: 90% !important;}
.kolaj1 img{width: 100vw;}
.kolaj1text{height: 0% !important;}
.kolaj1text img{width: 100vw;}
.kolaj2 img{width: 100vw;}
.wel{height: auto !important;}
.wel img{width: 100vw;}
.yoko{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh !important;
    width: 100vw !important;
    overflow: hidden;
}
.yoko h1{
    font-size: 27px;
    line-height: 150%;
    margin: 0 10vw;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}
.yoko span{opacity: 0.8; font-size: 20px;}
.varr{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 450px !important;
    overflow: hidden;
    margin-top: -4vh;
}
.varr img{width: 140vw;}

footer{display: flex;justify-content: center;align-items: center;padding: 20px;}
footer img{width: 25px;opacity: 0.5;}
.FlexContainer div {
    width: 100%;
}

@media only screen and (min-width:900px) {
    html{
        width: unset !important;
        margin: 0;
    }
    body{
        width: 40vw;
        overflow-x: hidden;
        margin: 0 30vw;
        border-left: 3px solid #C9AE43;
        border-right: 3px solid #C9AE43;
    }
    .links{width: auto;}
    .link{width: 30vw;}
    .flow{
        transform: scale(1.5);
        margin:10vh 0 5vh 0;
        text-align: center;
        color: #04b204;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 120%;
        text-transform: uppercase;
        font-family: 'Quarntype';
    }
    .gif{height: 200px !important;display: flex;align-items: center;justify-content: center; overflow: hidden;}
    .gif img{width: 100%;}
    .kolaj1{height: 90% !important;}
    .kolaj1 img{width: 100%;}
    .wel{height: 0% !important;}
    .wel img{width: 100%;border-bottom: 5px solid black;}
    .yoko{height: 50vh  !important;}
    .kolaj1text img{width: 100%;}
    .kolaj2 img{width: 100%;}
    .kolaj2 {height: auto !important;}
}
